/* Roboto light (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/montserrat/300.woff2") format("woff2"), url("../fonts/montserrat/300.woff") format("woff");
}

/* Roboto regular (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat/400.woff2") format("woff2"), url("../fonts/montserrat/400.woff") format("woff");
}

/* Roboto medium (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat/500.woff2") format("woff2"), url("../fonts/montserrat/500.woff") format("woff");
}

/* Roboto light (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat/700.woff2") format("woff2"), url("../fonts/montserrat/700.woff") format("woff");
}

/* fonts */

/* retina */

/* reset list */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif, "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  min-height: 100vh;
  min-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  font-weight: 500;
  color: #ffffff;
  background-color: #06A9B3;
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  background-color: #FFB257;
}

.header {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-color: #F2F8FB;
}

.header__wrapper {
  padding: 10px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  background-color: #F2F8FB;
}

.header__navigation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__logo {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 40px;
  grid-template-rows: 40px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #06a9b3;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  border: none;
  padding: 10px 50px 10px 5px;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__field:focus {
  background-color: #ffffff;
  outline: none;
}

.header__field:focus ~ .header__search {
  background-color: #06a9b3;
}

.header__field:focus ~ .header__search .header__search-icon {
  fill: white;
}

.header__search {
  width: 40px;
  height: 100%;
  padding: 0;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  -ms-grid-column-align: end;
  justify-self: end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__search-icon {
  fill: #06a9b3;
}

.header__search-icon:hover {
  fill: #FFB257;
}

.header__variants {
  grid-column: 11 / -1;
  color: #333333;
  margin: 0;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__link {
  color: #06a9b3;
  text-decoration: none;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation__item {
  margin-right: 64px;
  margin-bottom: 20px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: #06A9B3;
  text-decoration: none;
}

.navigation__link:hover {
  color: #FFB257;
}

.logo__icon {
  fill: #FFB257;
}

.logo__icon:hover {
  fill: #06A9B3;
}

.main {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.promo {
  background-color: #F2F8FB;
}

.promo__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 20px;
  padding-bottom: 100px;
}

.promo__content {
  padding-top: 80px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 2;
}

.promo__city {
  display: inline-block;
  color: #333333;
  opacity: 0.3;
  margin-bottom: 8px;
}

.promo__title {
  font-size: 44px;
  line-height: 62px;
  color: #333333;
  margin: 0;
  margin-bottom: 12px;
}

.promo__text {
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  margin: 0;
  margin-bottom: 40px;
}

.promo__rent {
  margin-bottom: 100px;
}

.promo__social .social__item {
  margin-bottom: 10px;
}

.promo__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 6 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 1;
  width: 795px;
  overflow: hidden;
}

.promo__slide {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.promo__image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.promo__controls {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 64px;
  grid-template-rows: 64px;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 4;
  gap: 20px;
  -ms-grid-row-align: end;
  align-self: end;
  position: relative;
}

.promo__controls::before {
  content: '';
  width: 20px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.promo__controls::after {
  content: '';
  width: 2px;
  height: 32px;
  background-color: #eaf2f6;
  position: absolute;
  top: 50%;
  left: calc(50% + 10px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.promo__control {
  grid-row: 1 / -1;
}

.promo__control--previous {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.promo__control--previous svg {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.promo__control--next {
  grid-column: 2 / -1;
}

.promo__button {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.promo__button svg {
  stroke: #06A9B3;
}

.promo__button:hover svg {
  stroke: #FFB257;
}

.promo__counter {
  color: #ffffff;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
  grid-column: -1 / -2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 2;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 395px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social__item {
  margin-right: 73px;
}

.social__item:nth-child(4n) {
  margin-right: 0;
}

.article__wrapper {
  background-color: #ffffff;
  padding: 100px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.article__wrapper h2,
.article__wrapper h3 {
  margin: 0;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  width: 444px;
}

.article__wrapper h2 {
  color: #06A9B3;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 84px -webkit-min-content;
  -ms-grid-columns: min-content 84px min-content;
  grid-template-columns: -webkit-min-content 84px -webkit-min-content;
  grid-template-columns: min-content 84px min-content;
  -ms-grid-rows: 20px;
  grid-template-rows: 20px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  margin-bottom: 60px;
}

.article__wrapper h2::after {
  content: '';
  width: 84px;
  height: 1px;
  background-color: #06a9b3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: -10px;
}

.article__wrapper h2 span {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.article__wrapper h2 .article__line {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.article__wrapper h3 {
  color: #333333;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
}

.article__wrapper .article__decorate {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #EAF2F6;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.article__wrapper .article__place,
.article__wrapper .article__number {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

.article__wrapper .article__number {
  margin-top: 40px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.article__wrapper .article__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  width: 444px;
  margin: 0;
  margin-bottom: 24px;
}

.article__wrapper .article__text--second {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.article__wrapper .article__text--third {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.article__wrapper .article__text--four {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
  margin-bottom: 16px;
}

.article__wrapper .article__text--fifth {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  margin-bottom: 40px;
}

.article__wrapper .article__tip {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.article__wrapper .article__tip--first {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10 / 12;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.article__wrapper .article__tip--second {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.article__wrapper .article__picture {
  margin-bottom: 24px;
}

.article__wrapper .article__picture--first {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.article__wrapper .article__picture--second {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: 2 / -2;
}

.article__wrapper .article__offer {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / 10;
  margin: 0;
  padding-left: 28px;
  border-left: 2px solid #06a9b3;
  margin-bottom: 32px;
}

.article__wrapper .article__offer:hover {
  border-left: 2px solid #FFB257;
}

.article__wrapper .article__link {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-column-align: start;
  justify-self: start;
}

.rent {
  background-color: #F2F8FB;
}

.rent__wrapper {
  padding: 100px 30px 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}

.rent__wrapper h2,
.rent__wrapper h3 {
  margin: 0;
  text-align: center;
}

.rent__wrapper h2 {
  color: #06A9B3;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 84px -webkit-min-content;
  -ms-grid-columns: min-content 84px min-content;
  grid-template-columns: -webkit-min-content 84px -webkit-min-content;
  grid-template-columns: min-content 84px min-content;
  -ms-grid-rows: 20px;
  grid-template-rows: 20px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  margin-bottom: 60px;
  -ms-grid-column-align: center;
  justify-self: center;
  text-align: center;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
}

.rent__wrapper h2::after {
  content: '';
  width: 84px;
  height: 1px;
  background-color: #06a9b3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: -10px;
}

.rent__wrapper h2 span {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.rent__wrapper h2 .rent__line {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.rent__wrapper h3 {
  color: #333333;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 40px;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.rent__cards {
  grid-column: 1 / -1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.rent__card {
  color: #333333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  cursor: pointer;
}

.rent__card:hover .rent__square {
  border-bottom: 2px solid #06a9b3;
}

.rent__card:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.rent__card:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
}

.rent__card:nth-child(3) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
}

.rent__card:nth-child(4) {
  grid-column: 10 / -1;
}

.rent__card--hit {
  grid-column: 3 / -3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 327px auto;
  grid-template-columns: 327px auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 24px;
}

.rent__card--hit .rent__picture {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.rent__card--hit .rent__content {
  padding: 20px 24px 0 0;
}

.rent__card--hit .rent__item {
  -ms-grid-column-align: start;
  justify-self: start;
}

.rent__card--hit .rent__item:nth-child(2) {
  -ms-grid-column-align: center;
  justify-self: center;
}

.rent__card--hit .rent__item:last-child {
  -ms-grid-column-align: end;
  justify-self: end;
}

.rent__card-title {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  margin-bottom: 8px;
}

.rent__square {
  opacity: 0.3;
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 20px;
  border-bottom: 2px solid #EAF2F6;
}

.rent__content {
  padding: 16px 24px 24px 24px;
}

.rent__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.rent__item {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: center;
  justify-self: center;
}

.rent__item strong {
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

.feedback__wrapper {
  background-color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 0 24px;
}

.feedback__content {
  padding: 100px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: 0 24px;
}

.feedback__content h2,
.feedback__content h3 {
  margin: 0;
  grid-column: 2 / -1;
}

.feedback__content h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #06A9B3;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 84px -webkit-max-content;
  -ms-grid-columns: min-content 84px max-content;
  grid-template-columns: -webkit-min-content 84px -webkit-max-content;
  grid-template-columns: min-content 84px max-content;
  -ms-grid-rows: 20px;
  grid-template-rows: 20px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  margin-bottom: 24px;
}

.feedback__content h2::after {
  content: '';
  width: 84px;
  height: 1px;
  background-color: #06a9b3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: -10px;
}

.feedback__content h2 span {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.feedback__content h2 .feedback__line {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.feedback__content h3 {
  color: #333333;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
}

.feedback__form {
  grid-column: 2 / -2;
}

.feedback__picture {
  grid-column: 7 / -1;
}

.fields {
  border: none;
  padding: 0;
  margin: 0;
}

.fields__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 24px;
  -ms-grid-rows: auto 20px auto 20px auto;
  grid-template-areas: 'reply firstname secondname' 'email email email' 'number number number';
}

.fields__item {
  display: -ms-inline-grid;
  display: inline-grid;
}

.fields__item:last-child {
  margin-bottom: 30px;
}

.fields__item label {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  color: #333333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fields__item input {
  color: #333333;
  font-family: inherit;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  padding: 12px 16px;
  border: 1px solid #CFDCE3;
  width: 100%;
}

.fields__item input::-webkit-input-placeholder {
  color: #333333;
  opacity: 0.3;
}

.fields__item input::-moz-placeholder {
  color: #333333;
  opacity: 0.3;
}

.fields__item input:-ms-input-placeholder {
  color: #333333;
  opacity: 0.3;
}

.fields__item input::-ms-input-placeholder {
  color: #333333;
  opacity: 0.3;
}

.fields__item input::placeholder {
  color: #333333;
  opacity: 0.3;
}

.fields__item input:focus {
  outline: 1px solid #CFDCE3;
}

.fields__item--reply {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: reply;
  width: 132px;
}

.fields__item--firstname {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: firstname;
  width: 132px;
}

.fields__item--secondname {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: secondname;
  width: 132px;
}

.fields__item--email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: email;
}

.fields__item--number {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: number;
}

.fields__container {
  border: 1px solid #CFDCE3;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 132px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fields__value {
  color: #333333;
  font-family: inherit;
  font-weight: 300;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.3;
  margin-right: auto;
}

.fields__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fields__icon--rotated {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fields__data-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -1px;
  width: inherit;
  z-index: 2;
  border: 1px solid #CFDCE3;
  display: none;
}

.fields__data-list--opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fields__data-item {
  background-color: #ffffff;
  padding: 12px 16px;
}

.fields__data-item:focus {
  outline: 1px solid black;
  z-index: 1;
}

.fields__additional {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  gap: 24px;
  margin-bottom: 40px;
}

.fields__agreement,
.fields__subscription {
  color: #333333;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  max-width: 210px;
}

.fields__agreement label,
.fields__subscription label {
  display: block;
  padding-left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  min-height: 18px;
  cursor: pointer;
}

.fields__agreement label::before,
.fields__subscription label::before {
  content: '';
  width: 18px;
  height: 18px;
  border: 1px solid #CFDCE3;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.fields__agreement input:checked ~ label::after,
.fields__subscription input:checked ~ label::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #06A9B3;
  position: absolute;
  top: 3px;
  left: 3px;
}

.fields__send {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  border: none;
  padding: 12px 32px;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  background-color: #F2F8FB;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  padding: 10px 30px;
  gap: 24px;
}

.footer__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer__logo .logo__icon {
  fill: #06A9B3;
}

.footer__logo .logo__icon:hover {
  fill: #FFB257;
}

.footer__navigation {
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5 / 10;
  grid-row: 1 / -1;
}