/* Roboto light (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/montserrat/300.woff2") format("woff2"), url("../fonts/montserrat/300.woff") format("woff");
}

/* Roboto regular (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat/400.woff2") format("woff2"), url("../fonts/montserrat/400.woff") format("woff");
}

/* Roboto medium (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat/500.woff2") format("woff2"), url("../fonts/montserrat/500.woff") format("woff");
}

/* Roboto light (normal) */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat/700.woff2") format("woff2"), url("../fonts/montserrat/700.woff") format("woff");
}

/* fonts */

/* retina */

/* reset list */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Arial", sans-serif, "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  min-height: 100vh;
  min-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: (auto)[3];
  grid-template-rows: repeat(3, auto);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  font-weight: 500;
  color: #ffffff;
  background-color: #06A9B3;
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.header__wrapper {
  padding: 10px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  background-color: #F2F8FB;
}

.header__navigation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__logo {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: 40px;
  grid-template-rows: 40px;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  -ms-grid-row-align: center;
  align-self: center;
}

.header__field {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: #06a9b3;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  border: none;
  padding: 10px 50px 10px 5px;
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__field:focus {
  background-color: #ffffff;
  outline: none;
}

.header__field:focus ~ .header__search {
  background-color: #06a9b3;
}

.header__field:focus ~ .header__search .header__search-icon {
  fill: white;
}

.header__search {
  width: 40px;
  height: 100%;
  padding: 0;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  -ms-grid-column-align: end;
  justify-self: end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__search-icon {
  fill: #06a9b3;
}

.header__variants {
  grid-column: 11 / -1;
  color: #333333;
  margin: 0;
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__link {
  color: #06a9b3;
  text-decoration: none;
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation__item {
  margin-right: 64px;
  margin-bottom: 20px;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  color: #06A9B3;
  text-decoration: none;
}

.main {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.promo__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 20px;
  padding-bottom: 100px;
  background-color: #F2F8FB;
}

.promo__content {
  padding-top: 80px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 2;
}

.promo__city {
  display: inline-block;
  color: #333333;
  opacity: 0.3;
  margin-bottom: 8px;
}

.promo__title {
  font-size: 44px;
  line-height: 62px;
  color: #333333;
  margin: 0;
  margin-bottom: 12px;
}

.promo__text {
  font-size: 22px;
  line-height: 34px;
  color: #333333;
  margin: 0;
  margin-bottom: 40px;
}

.promo__rent {
  margin-bottom: 100px;
}

.promo__social .social__item {
  margin-bottom: 10px;
}

.promo__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 6 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 1;
  width: 795px;
  overflow: hidden;
}

.promo__slide {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.promo__image {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.promo__controls {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: 64px;
  grid-template-rows: 64px;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 4;
  gap: 20px;
  -ms-grid-row-align: end;
  align-self: end;
  position: relative;
}

.promo__controls::before {
  content: '';
  width: 20px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}

.promo__controls::after {
  content: '';
  width: 2px;
  height: 32px;
  background-color: #eaf2f6;
  position: absolute;
  top: 50%;
  left: calc(50% + 10px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}

.promo__control {
  grid-row: 1 / -1;
}

.promo__control--previous {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.promo__control--previous svg {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.promo__control--next {
  grid-column: 2 / -1;
}

.promo__button {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.promo__counter {
  color: #ffffff;
  font-size: 32px;
  line-height: 48px;
  margin: 0;
  grid-column: -1 / -2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 2;
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 395px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.social__item {
  margin-right: 73px;
}

.social__item:nth-child(4n) {
  margin-right: 0;
}

.article__wrapper {
  background-color: #ffffff;
  padding: 100px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.article__wrapper h2,
.article__wrapper h3 {
  margin: 0;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  width: 444px;
}

.article__wrapper h2 {
  color: #06A9B3;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 84px -webkit-min-content;
  -ms-grid-columns: min-content 84px min-content;
  grid-template-columns: -webkit-min-content 84px -webkit-min-content;
  grid-template-columns: min-content 84px min-content;
  -ms-grid-rows: 20px;
  grid-template-rows: 20px;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  margin-bottom: 60px;
}

.article__wrapper h2::after {
  content: '';
  width: 84px;
  height: 1px;
  background-color: #06a9b3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  position: relative;
  top: -10px;
}

.article__wrapper h2 span {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.article__wrapper h2 .article__line {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.article__wrapper h3 {
  color: #333333;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 24px;
}

.article__wrapper .article__decorate {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #EAF2F6;
  margin: 0;
}

.article__wrapper .article__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  width: 444px;
  margin: 0;
  margin-bottom: 24px;
}

.article__wrapper .article__text--second {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.article__wrapper .article__text--third {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

.article__wrapper .article__text--four {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
  margin-bottom: 16px;
}

.article__wrapper .article__text--fifth {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  margin-bottom: 40px;
}

.article__wrapper .article__tip {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.article__wrapper .article__tip--first {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10 / 12;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.article__wrapper .article__tip--second {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.article__wrapper .article__picture {
  margin-bottom: 24px;
}

.article__wrapper .article__picture--first {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
}

.article__wrapper .article__picture--second {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  grid-column: 2 / -2;
}

.article__wrapper .article__offer {
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / 10;
  margin: 0;
  padding-left: 28px;
  border-left: 2px solid #06a9b3;
  margin-bottom: 32px;
}

.article__wrapper .article__link {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-column-align: start;
  justify-self: start;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}