.article__wrapper {
	background-color: #ffffff;
	padding: 100px 30px;

	display: grid;
	grid-template-columns: repeat(12, 1fr);

	h2,
	h3 {
		margin: 0;
		grid-column: 5 / 9;
		width: 444px;
	}

	h2 {
		color: #06A9B3;
		font-weight: 400;
		font-size: inherit;
		line-height: inherit;
		display: grid;
		grid-template-columns: min-content 84px min-content;
		grid-template-rows: 20px;
		column-gap: 8px;
		margin-bottom: 60px;

		&::after {
			content: '';
			width: 84px;
			height: 1px;
			background-color: #06a9b3;
			grid-column: 2 / 3;
			position: relative;
			top: -10px;
		}

		span {
			grid-column: 3 / 4;
		}

		.article__line {
			grid-column: 1 / 2;
		}
	}

	h3 {
		color: #333333;
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 24px;
	}

	.article__decorate {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto;
		writing-mode: vertical-lr;
    transform: rotate(180deg);
		grid-column: 2 / 3;
		grid-row: 2 / 5;
		font-weight: 700;
		font-size: 64px;
		line-height: 64px;
		color: #EAF2F6;
		margin: 0;
		user-select: none;
	}

	.article__place,
	.article__number {
		align-self: center;
		justify-self: end;
	}

	.article__number {
		margin-top: 40px;
		align-self: center;
		transform: rotate(90deg);
	}

	.article__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 32px;
		grid-column: 5 / 9;
		width: 444px;
		margin: 0;
		margin-bottom: 24px;

		&--second {
			grid-row: 5 / 6;
		}

		&--third {
			grid-row: 7 / 8;
		}

		&--four {
			grid-row: 9 / 10;
			margin-bottom: 16px;
		}

		&--fifth {
			grid-row: 10 / 11;
			margin-bottom: 40px;
		}
	}

	.article__tip {
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		margin: 0;
		
		&--first {
			grid-column: 10 / 12;
			grid-row: 4 / 5;
		}

		&--second {
			grid-column: 2 / 4;
		}
	}

	.article__picture {
		margin-bottom: 24px;

		&--first {
			grid-row: 4 / 5;
			grid-column: 5 / 9;
		}

		&--second {
			grid-row: 6 / 7;
			grid-column: 2 / -2;
		}
	}

	.article__offer {
		color: #333333;
		font-weight: 400;
		font-size: 22px;
		line-height: 40px;
		grid-row: 8 / 9;
		grid-column: 4 / 10;
		margin: 0;
		padding-left: 28px;
		border-left: 2px solid #06a9b3;
		margin-bottom: 32px;

		&:hover {
			border-left: 2px solid #FFB257;
		}
	}

	.article__link {
		grid-column: 5 / 9;
		justify-self: start;
	}
}