.header {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
}

.header__wrapper {
	padding: 10px 30px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;

	background-color: #F2F8FB;
}

.header__navigation {
	grid-column: 1 / 6;
	align-self: center;
}

.header__logo {
	grid-column: 6 / 8;
	justify-self: center;
	align-self: center;
}

.header__form {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40px;
	grid-column: 8 / 11;
	align-self: center;
}

.header__field {
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	color: #06a9b3;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	border: none;
	padding: 10px 50px 10px 5px;
	background-color: transparent;
	user-select: none;

	&:focus {
		background-color: #ffffff;
		outline: none;

		~ .header__search {
			background-color: #06a9b3;

			.header__search-icon {
				fill: white;
			}
		}
	}
}

.header__search {
	width: 40px;
	height: 100%;
	padding: 0;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	z-index: 1;
	justify-self: end;
	background-color: transparent;
	border: none;
	cursor: pointer;
	user-select: none;
}

.header__search-icon {
	fill: #06a9b3;
}

.header__variants {
	grid-column: 11 / -1;
	color: #333333;
	margin: 0;
	justify-self: end;
	align-self: center;
	user-select: none;
}

.header__link {
	color: #06a9b3;
	text-decoration: none;
}