/* Roboto light (normal) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/montserrat/300.woff2") format("woff2"),
    url("../fonts/montserrat/300.woff") format("woff");
}

/* Roboto regular (normal) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat/400.woff2") format("woff2"),
    url("../fonts/montserrat/400.woff") format("woff");
}

/* Roboto medium (normal) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat/500.woff2") format("woff2"),
    url("../fonts/montserrat/500.woff") format("woff");
}

/* Roboto light (normal) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserrat/700.woff2") format("woff2"),
    url("../fonts/montserrat/700.woff") format("woff");
}