html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font, 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 1440px;
  max-width: 1440px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}